<%- include('inc/header.ejs') %>
  </head>
<body>
<%- include('inc/nav.ejs') %>
<main>
  <h1 style="text-align: center">Some error accured!</h1>
  We are finxing on the issue, please be patient.
</main>
<%- include('inc/footer.ejs') %>